// logo

.logo {
  margin: 0;

  font-size: 1.4em;
  text-align: center;
}

.logo__image {
  margin: 1rem;

  display: block;
  width: 1em;
  height: 1em;
}

@include media($screen-sm) {
  .logo {
    font-size: 2em;
  }

  .logo__link {
    text-decoration: none;
  }

  .logo__image {
    margin: .5rem;
  }
}
