// logo

.logo {
  margin: 0;
  text-align: center;
}

.logo__link {
  display: block;
  padding: 1rem;

  text-align: center;
  text-decoration: none;
}

.logo__image {
  display: block;
  height: 2rem;
}

@include media($screen-md) {
  .logo {

  }

  .logo__link {
    padding: 0;
  }

  .logo__image {
    height: 3rem;
  }
}
