// logo

.logo {
  margin: 0;
  text-align: center;
}

.logo__link {
  display: block;
  padding: 1rem;

  font-size: 1.4em;
  text-align: center;
  text-decoration: none;
}

.logo__image {
  display: block;
  width: 1em;
  height: 1em;
}

@include media($screen-md) {
  .logo {

  }

  .logo__link {
    font-size: 2em;
    padding: .5rem;
  }

  .logo__image {

  }
}
