.nav {
  padding-top: 1rem;

  animation: nav-in ease 0.7s;
}

@keyframes nav-in {
  from {
    opacity: 0;
    transform: translateX(-2rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.nav__list {
  margin: 0;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.nav__list-link {
  position: relative;
  display: block;
  padding: 0.5rem 0;
  color: var(--color-primary);
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-decoration: none;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    height: 2px;
    width: 0;
    background: var(--color-primary);
    will-change: width;
    transition: 0.2s ease;
  }

  &:hover,
  &:focus {
    &:after {
      width: 100%;
    }
  }
}

.nav__list-tokens {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  width: 2.5rem;
  height: 2.5rem;
  background: none;
  border: 0;
  border-radius: 100%;
  opacity: 0.8;
  cursor: pointer;
  will-change: opacity;
  transition: 0.2s ease;

  svg {
    margin: 0;
    display: block;
    width: 1em;
    height: 1em;
    color: var(--color-primary);
  }

  &:hover {
    background: var(--color-background-interactive);
  }

  &:hover,
  &:focus {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    position: absolute;
    top: 2rem;
    right: 2rem;
    padding-top: 0;
  }

  .nav__list {
    gap: 3rem;
  }

  .nav__list-link {
    font-size: 1em;
  }
}

@media screen and (min-width: 992px) {
  .nav {
    top: 3rem;
    right: 3rem;
  }
}
