// typography

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}

a {
  color: #566573;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

address {
  font-style: normal;
}

small {
  font-size: 1em;
}

.text--italic {
  font-style: italic;
}

.text--bold {
  font-weight: 700;
}

.text--left {
  text-align: left;
}

.text--right {
  text-align: right;
}

.text--center {
  text-align: center;
}
