.link {
  display: block;
  padding: 1.6rem;
  text-decoration: none;
  transition: 0.3s ease;
  transition-property: background, transform;

  &:hover,
  &:focus {
    transform: translateY(-4px);
    background: var(--color-background-interactive);
  }
}

.title {
  margin: 0;
  color: var(--color-primary);
}

.description {
  margin: 0.5rem 0 0;
  color: var(--color-text);
  font-size: 0.8em;
}

@media screen and (min-width: 768px) {
  .link {
    padding: 3rem;
    border-radius: 4px;
  }

  .title {
    font-size: 3em;
  }

  .description {
    font-size: 1em;
  }
}