// footer

.footer {
  cursor: default;

  padding: 2rem 0 5rem;

  color: lighten($black, 40%);
  font-size: .7em;
  text-align: center;
  text-transform: uppercase;
}

.footer__link {
  color: $primary;
  text-decoration: none;
}

.footer__small {
  font-size: 1em;
}

@include media($screen-md) {
  .footer {
    padding: 6rem 0 2rem;
  }

  .footer__small {

  }
}
