// footer

.footer {
  cursor: default;

  padding: 1rem 0;

  color: lighten($black, 40%);
  font-size: .7em;
  text-align: center;
  text-transform: uppercase;
}

.footer__link {
  color: $primary;
  text-decoration: none;
}

.footer__small {
  font-size: 1em;
}

@include media($screen-md) {
  .footer {

  }

  .footer__small {

  }
}
