// header

.header {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  padding: 0;
  background: $white;

  .container {
    padding: 0;
  }
}

.header__logo {
  float: left;
}

.header__nav {

}

@include media($screen-sm) {
  .header {
    top: 0;
    bottom: auto;

    padding: .5rem 0;

    .container {
      position: relative;
    }
  }

  .header__nav {
    float: right;
  }
}
