@keyframes nav-in {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.nav {
  padding: 3rem 1.6rem;

  animation: nav-in ease 0.7s;
}

.list {
  margin: 0;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.item {
  &:last-of-type {
    margin-left: auto;
  }
}

.link {
  position: relative;
  display: block;
  padding: 0.5rem 0;
  color: var(--color-primary);
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-decoration: none;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    height: 2px;
    width: 0;
    background: var(--color-primary);
    will-change: width;
    transition: 0.2s ease;
  }

  &:hover,
  &:focus {
    &:after {
      width: 100%;
    }
  }
}

.linkTokens {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
  background: none;
  border: 0;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.2s ease;

  svg {
    margin: 0;
    display: block;
    width: 1.25rem;
    height: 1.25rem;

    path {
      fill: var(--color-primary);
    }
  }

  &:hover {
    background: var(--color-background-interactive);
  }
}

@media screen and (min-width: 768px) {
  .nav {
    padding: 3rem;
  }

  .list {
    gap: 3rem;
    justify-content: flex-end;
  }

  .item {
    &:last-of-type {
      margin-left: unset;
    }
  }

  .link {
    font-size: 1em;
  }
}

@media screen and (min-width: 992px) {
  .nav {
    top: 3rem;
    right: 3rem;
  }
}