// link

.link {
  display: inline-block;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 1rem;
  border: 0;

  color: #566573;
  font-family: 'Raleway', sans-serif;
  font-size: .8em;
  text-align: center;
  text-decoration: none;

  cursor: pointer;
  outline: none;

  transition: border .1s ease;

  &:after {
    content: "";
    position: relative;
    bottom: .25em;

    display: block;
    width: 0;
    height: 1px;
    background: #566573;

    transition: width .2s ease;
  }

  &:hover,
  &:focus {
    text-decoration: none;

    &:after {
      width: 100%;
    }
  }

  + .btn,
  + .icon__btn {
    margin-left: 1rem;
  }

  + .link {
    margin-left: 2rem;
  }
}

.link--tiny {
  height: 1.5rem;
  line-height: 1.5rem;

  font-size: .6em;
}

.link--small {
  height: 2rem;
  line-height: 2rem;

  font-size: .7em;
}

.link--large {
  font-size: 1em;
  height: 3rem;
  line-height: 3rem;
}

.link--primary {
  color: #566573;
}

@media screen and (min-width: 992px) {
  .link {
    height: 3rem;
    line-height: 3rem;
    padding: 0;

    font-size: 1em;

    + .link {
      margin-left: 2.5rem;
    }
  }

  .link--tiny {
    height: 2rem;
    line-height: 2rem;

    font-size: .8em;
  }

  .link--small {
    height: 2.5rem;
    line-height: 2.5rem;

    font-size: .9em;
  }

  .link--large {
    height: 4rem;
    line-height: 4rem;

    font-size: 1.25em;
  }
}
