.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem;
  min-height: 100vh;
}

.profile__wrapper {
  max-width: 680px;
  animation: profile-in ease .7s;
}

@keyframes profile-in {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.profile__header {
  margin: 2rem 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__figure {
  margin: 0 0 1rem;
  padding: 0;
  width: 9rem;
  height: 9rem;
  border-radius: 100%;
  overflow: hidden;
  border: solid 4px var(--color-border);
  will-change: border;
  transition: .2s ease;
}

.profile__img {
  display: block;
  border-radius: 100%;
  filter: saturate(0);
  border: solid 4px var(--color-background);
  will-change: border;
  transition: .2s ease;
}

.profile__title {
  margin: 0;
  color: var(--color-title);
  font-size: 2.1em;
  letter-spacing: .02em;
  text-align: center;
}

.profile__subtitle {
  margin: 0;
  color: var(--color-primary);
  font-size: .9em;
  font-weight: 400;
  letter-spacing: .02em;
  text-align: center;
}

.profile__text {
  margin: 0 0 1rem;
  color: var(--color-text);
  font-size: .9em;
  letter-spacing: .02em;
  line-height: 1.6;
  text-align: center;

  strong {
    color: var(--color-primary);
  }
}

.profile__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__skills {
  display: flex;
  padding: 0 0 2rem;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.profile__skills-item {
  margin: .3rem;
  color: var(--color-text);
  font-size: .8em;
  font-weight: 700;
  text-align: center;
  letter-spacing: .02em;
  padding: .3rem 1rem;
  border-radius: 2rem;
  background: var(--color-border);
  will-change: opacity;
  cursor: default;
  transition: .4s ease;
}

@media screen and (min-width: 375px) {
  .profile__title {
    font-size: 2.3em;
  }
  
  .profile__subtitle {
    font-size: 1em;
  }

  .profile__text {
    font-size: 1em;
  }
}

@media screen and (min-width: 768px) {
  .profile__header {
    margin-bottom: 3.5rem;
  }

  .profile__figure {
    margin-bottom: 2rem;
  }

  .profile__title {
    font-size: 3em;
  }
  
  .profile__subtitle {
    font-size: 1.3em;
  }

  .profile__text {
    margin-bottom: 1.5rem;
    font-size: 1.3em;
  }

  .profile__skills {
    flex-direction: row;
  }
}