// page

.page {
  padding: 2rem 0;
}

.page__header {
  text-align: center;
  margin-bottom: 1rem;
}

.page__title {
  margin: 0;

  color: rgba(#111, .9);
  font-size: 1.2em;
}

.page__caption {
  color: rgba(#111, .6);
  font-size: .9em;
  font-weight: 600;
}

.page__text {
  line-height: 1.6;

  color: rgba(#111, .7);
  font-size: .8em;
}

.page__footer {
  margin-top: 2rem;
  text-align: center;
}

.page__nav {
  margin-bottom: 1rem;
}

.page__social {

}

@media screen and (min-width: 768px) {
  .page {

  }

  .page__header {
    text-align: left;
  }

  .page__title {
    font-size: 1.6em;
  }

  .page__caption {
    font-size: 1.1em;
  }

  .page__text {
    line-height: 1.8;
    font-size: 1em;
  }

  .page__footer {
    display: flex;
    justify-content: space-between;
  }

  .page__nav {
    margin: 0;
  }

  .page__social {

  }
}
