@keyframes profile-in {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.6rem 2rem;
}

.container {
  width: 100%;
  max-width: 740px;
  animation: profile-in ease 0.7s;
}

.header {
  margin: 1rem 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.figure {
  margin: 0 0 1rem;
  padding: 0;
  width: 9rem;
  height: 9rem;
  border-radius: 100%;
  overflow: hidden;
  border: solid 4px var(--color-border);
  will-change: border;
  transition: 0.2s ease;

  img {
    border-radius: 100%;
    filter: saturate(0);
    border: solid 4px var(--color-background) !important;
    will-change: border, filter;
    transition: 0.2s ease;
  }

  &:hover {
    img {
      filter: saturate(100%);
    }
  }
}

.title {
  margin: 0;
  color: var(--color-title);
  font-size: 2.1em;
  letter-spacing: 0.02em;
  text-align: center;
}

.subtitle {
  margin: 0;
  color: var(--color-primary);
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
}

.content {
  font-size: 1rem;

  > p {
    margin: 0 0 1.25rem;
    color: var(--color-text);
    font-weight: 500;
    font-size: 1em;
    letter-spacing: 0.02em;
    line-height: 1.6;
    text-align: left;

    &:last-of-type {
      margin-bottom: 0;
      font-size: 0.8em;
    }
  }

  blockquote {
    position: relative;
    margin: 1.5rem 0;
    padding-left: 1em;

    > p {
      margin: 0 0 0.5rem;
      color: var(--color-text-light);
      font-size: 0.75em;
      font-weight: 500;
      letter-spacing: 0.02em;
      line-height: 1.6;
      text-align: left;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 4px;
      height: 100%;
      border-radius: 4px;
      background-color: var(--color-border);
    }
  }
}

@media screen and (min-width: 375px) {
  .title {
    font-size: 2.3em;
  }

  .subtitle {
    font-size: 1.1em;
  }

  .content {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 0 3rem;
  }

  .header {
    margin-bottom: 3.5rem;
  }

  .figure {
    margin-bottom: 2rem;
  }

  .title {
    font-size: 3em;
  }

  .subtitle {
    font-size: 1.4em;
  }

  .content {
    font-size: 1.4rem;

    > p {
      margin-bottom: 1.5rem;

      &:last-of-type {
        font-size: 0.75em;
      }
    }

    blockquote {
      margin: 2rem 0;
    }
  }
}

@media screen and (min-width: 992px) {
  .wrapper {
    padding: 0;
  }
}