@mixin tokens-light {
  --color-primary: #067f5e;

  --color-text: var(--color-neutral-40);
  --color-text-light: var(--color-neutral-60);
  --color-title: var(--color-neutral-40);
  --color-link: var(--color-neutral-40);
  
  --color-code: var(--color-neutral-40);
  --color-code-background: var(--color-neutral-80);

  --color-border: var(--color-neutral-80);
  --color-background: var(--color-neutral-90);
  --color-background-interactive: var(--color-neutral-80);
}

@mixin tokens-dark {
  --color-primary: #28f5be;

  --color-text: var(--color-neutral-70);
  --color-text-light: var(--color-neutral-70);
  --color-title: var(--color-neutral-100);
  --color-link: var(--color-primary);
  
  --color-code: var(--color-neutral-70);
  --color-code-background: var(--color-neutral-20);

  --color-background: var(--color-neutral-10);
  --color-border: var(--color-neutral-20);
  --color-background-interactive: var(--color-neutral-20);
}

:root {
  --color-neutral-10: #16161b;
  --color-neutral-20: #1a1a1e;
  --color-neutral-40: #323232;
  --color-neutral-60: #5a5a5a;
  --color-neutral-70: #c4c4c4;
  --color-neutral-80: #ebebeb;
  --color-neutral-90: #f5f5f5;
  --color-neutral-100: #ffffff;

  @include tokens-dark;
}

.tokens-light {
  @include tokens-light;
}

.tokens-dark {
  @include tokens-dark;
}
